<a href="/all">Go Back</a>
<h1>Displaying Details for <%= @contact.name %></h1>
<p>ID: <%= @contact.id %></p>
<p>Email: <%= @contact.email %></p>
<p>Message: <%= @contact.message %></p>
<p>Department: <%= @contact.department %></p>